body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

div {
  text-align: center;
}

#error {
  position: relative;
  top: 3px;
  margin: 0%;
  padding: 0%;
  text-align: left;
  color: red;
  font-size: 14px;
}

#url {
  margin: 5px 0%;
  width: 100%;
}