body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

div {
  text-align: center;
}

#error {
  position: relative;
  top: 3px;
  text-align: left;
  margin-bottom: 2px;
  padding: 0%;
  color: red;
  font-size: 10px;
}

#url {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}